body {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
}

.body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.blue-background {
    background-color: #1F2937;
    margin: 0;
}

.white-background {
    background-color: #F9FAF8;
}

.grey-background {
    background-color: #E5E7EB;
}

h1 {
    font-family: Roboto, sans-serif;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0px;
}

h2, .header a, .header ul {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 1;
    color: #E5E7EB;
    text-decoration: none;
    list-style: none;
}

.header {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.header ul {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
}

.header, .opening, .footer {
    background-color: #1F2937;
}

.opening {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 200px;
    padding: 100px 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-right: 50px;
}

img {
    height: 250px;
    width: auto;
}

button {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    background-color: #3882F6;
    color: #F9FAF8;
    flex: 1;
    max-height: 50px;
    max-width: 120px;
    border-radius: 6px;
    border: 1px;
    justify-content: center;
}

.square {
    color: #3882F6;
    width: 150px;
    height: 150px;
    background-color: white;
    border: 4px solid;
    border-radius: 20px;
}

.squares {
    display: flex;
    justify-content: space-between;
    margin: 0 300px;
}

.squares-text h2 {
    color: grey;
    width: 158px;
    text-align: center;
}

h3 {
    font-family: Roboto, sans-serif;
    font-size: 36px;
    color: #1F2937;
    text-align: center;
    font-weight: 900;
}

.section {
    margin: 100px 300px;
}

.quote {
    font-family: Roboto, sans-serif;
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    margin-top: 100px;
}

.author {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 800;
    color: #1F2937;
    text-align: right;
    margin: 0;
}

p {
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 24px;
    color: white;
    padding: 0;
    margin: 0;
}

.call {
    background-color: #3882F6;
    border-radius: 8px;
    margin: 100px 200px;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
}

.call h2 {
    padding: 0;
    margin: 0;
}

.call button {
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 18px;
    background-color: #3882F6;
    color: #F9FAF8;
    max-height: 50px;
    max-width: 120px;
    border-radius: 6px;
    border: 2px solid;
    padding: 8px 24px;
}

.footer {
    display: flex;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.footer-text {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 1;
    color: #E5E7EB;
    text-decoration: none;
    list-style: none;
    text-align: center;
}
